<input type="text" [(ngModel)]="searchText" class="form-control" 
placeholder="O que voc&ecirc; est&aacute; procurando?" /><br />

<table class="table table-hover">
  <thead>
      <tr>
        <!--<th>C&oacute;digo</th>
        <th>Nome</th>
        <th>Cargo</th>
        <th>Endere&ccedil;o</th>
        <th>Cidade</th>
        <th>CEP</th>
        <th>Pa&iacute;s</th>
        <th>Telefone</th>
        <th>Fax</th>-->
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let clienteTabela of clientes | filter:searchText">
        <a [routerLink]="[clienteTabela.id]">
        <td>{{clienteTabela.id}}</td></a>
        <td>{{clienteTabela.name}}</td>	
        <td>{{clienteTabela.email}}</td>	
        <td>{{clienteTabela.phone}}</td>	
       <!--<td>{{clienteTabela.cidade}}</td>	
        <td>{{clienteTabela.cep}}</td>	
        <td>{{clienteTabela.pais}}</td>	
        <td>{{clienteTabela.telefone}}</td>	
        <td>{{clienteTabela.fax}}</td>-->	
      </tr>
    </tbody>		
</table> 
<span [hidden]="(clientes | filter: searchText).length != 0">Infelizmente 
  n&atilde;o temos o que voc&ecirc; est&aacute; procurando</span>
