	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="home">Sistema Ecommerce</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">
		<img class="img-fluid" alt="Responsive image" src="assets/img/home.png" width="30" height="30" />
		<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" *ngIf="showNavBar">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cadastros
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="clientes">Cliente</a>
          <a class="dropdown-item" href="categoria.html">Categoria</a>
		  <a class="dropdown-item" href="produto.html">Produto</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="pedido.html">Pedido</a>
        </div>
      </li>
	  <li class="nav-item dropdown" *ngIf="showNavBar">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Relatórios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="relatorioPedido.html">Pedido</a>
        </div>
      </li>
      <li class="nav-item active" *ngIf="!isAuth()" >
        <a class="nav-link" routerLink="signin">Login</a>

      </li>
      <li class="nav-item active" *ngIf="isAuth()" >
          <a class="nav-link" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>