<h5>Login</h5>
<div>
  <div class="row">
    <form [formGroup]="form" (ngSubmit)="onSignin()" >
      <div class="row">
        <div class="form-group">
          <input id="email" type="email" class="validade"
            formControlName="email"
            [class.invalid]="form.controls['email'].touched && !form.controls['email'].valid">
        <label for="email" data-error="Invalid email">E-mail</label>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <input id="password" type="password" class="validade"
            formControlName="password"
            [class.invalid]="form.controls['password'].touched && !form.controls['password'].valid">
          <label for="password" data-error="Password is mandatory">Password</label>
        </div>
      </div>

      <div class="row">
          <div class="form-group">
            <button class="btn btn-primary" type="submit" [disabled]="!form.valid" >
              Entrar
            </button>
          </div>
        </div>
    </form>
  </div>
  
</div>
