<form class="was-validated form-row" #cadastro="ngForm" (ngSubmit)="salvar()">  

  <div class="col-md-2 mb-3">
    <label for="id">ID</label>
    <input type="text" ng-model="cliente.id" class="form-control" 
    disabled name="id">
  </div>

  <!--<div class="col-md-4 mb-3">
      <label for="nome">Nome</label>
    <input type="text" [(ngModel)]="cliente.nome" 
    class="form-control is-valid" #nome="ngModel" name="nome" minlength="5" required>
    <div [hidden]="nome.valid" class="invalid-feedback">
        <p>Nome incompleto</p>
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <label for="cargo">Cargo</label>
    <input type="text" [(ngModel)]="cliente.cargo" 
    class="form-control is-valid" #cargo="ngModel" name="cargo" required>
    <div [hidden]="cargo.valid" class="invalid-feedback">
        <p>Cargo é obrigatório</p>
    </div>
  </div>

  <div class="col-md-5 mb-3">
    <label for="endereco">Endere&ccedil;o</label>
    <input type="text" [(ngModel)]="cliente.endereco" 
    class="form-control is-valid" #endereco="ngModel" name="endereco" required>
    <div [hidden]="endereco.valid" class="invalid-feedback">
      <p>Endere&ccedil;o é obrigatório</p>
    </div>
  </div>

  <div class="col-md-3 mb-3">
    <label for="cidade">Cidade</label>
    <input type="text" [(ngModel)]="cliente.cidade" 
    class="form-control is-valid" #cidade="ngModel" name="cidade" required>
    <div [hidden]="cidade.valid" class="invalid-feedback">
      <p>Cidade é obrigatório</p>
    </div>
  </div>

  <div class="col-md-2 mb-2">
    <label for="cep">CEP</label>
    <input type="text" [(ngModel)]="cliente.cep" 
    class="form-control is-valid" #cep="ngModel" name="cep" required>
    <div class="invalid-feedback">
        <p>CEP é obrigatório</p>
    </div>
  </div>

  <div class="col-md-3 mb-3">
    <label for="pais">Pa&iacute;s</label>
    <input type="text" [(ngModel)]="cliente.pais" 
    class="form-control is-valid" #pais="ngModel" name="pais" required>
    <div class="invalid-feedback">
        <p>Pa&iacute;s é obrigatório</p>
    </div>
  </div>-->

  <div class="col-md-4 mb-3">
      <label for="name">NOME</label>
    <input type="text" [(ngModel)]="cliente.name" 
    class="form-control is-valid" #name="ngModel" name="name" minlength="5" required>
    <div [hidden]="name.valid" class="invalid-feedback">
        <p>Nome incompleto</p>
    </div>
  </div>

  <!--<div class="col-md-2 mb-2">
    <label for="nome">NOME</label>
    <input type="text" [(ngModel)]="cliente.nome" 
    class="form-control is-valid" #nome="ngModel" name="nome" required>
    <div class="invalid-feedback">
        <p>Nome é obrigatório</p>
    </div>
  </div>-->
  <div class="col-md-2 mb-2">
    <label for="email">Email</label>
    <input type="text" [(ngModel)]="cliente.email" 
    class="form-control is-valid" #email="ngModel" name="email" required>
    <div class="invalid-feedback">
        <p>Email é obrigatório</p>
    </div>
  </div>

  <div class="col-md-2 mb-2">
    <label for="telefone">Telefone</label>
    <input type="text" [(ngModel)]="cliente.phone" 
    class="form-control is-valid" #phone="ngModel" name="telefone" required>
    <div class="invalid-feedback">
        <p>Telefone é obrigatório</p>
    </div>
  </div>

  <div class="col-md-2 mb-2">
    <label for="password">Senha</label>
    <input type="text" [(ngModel)]="cliente.password" 
    class="form-control is-valid" #password="ngModel" name="password" required>
    <div class="invalid-feedback">
        <p>Senha é obrigatório</p>
    </div>
  </div>

 <!--<div class="col-md-2">
    <label for="fax">Fax</label>
    <input type="text" [(ngModel)]="cliente.fax" 
    class="form-control is-valid" #fax="ngModel" name="fax" required>
    <div class="invalid-feedback">
        <p>Fax é obrigatório</p>
    </div>
  </div>-->

  <div class="container">
      <button class="btn btn-success" type="submit" 
      [disabled]="cadastro.form.invalid">Enviar</button>
      <button class="btn btn-danger" type="button" 
      [hidden]="isNew" (click)="excluir()">Excluir</button>
      <button class="btn btn-warning" type="button" 
      (click)="cancelar()">Cancelar</button>
  </div>
</form>

